$crumb-background-color: rgb(240, 240, 240);
$crumb-color: rgb(180, 180, 180);
$crumb-hover-color: rgb(200, 200, 200);

.breadcrumb-container {
  background-color: $crumb-background-color
}

.breadcrumb {
  padding-top: 1rem;
  padding-bottom: 1rem;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
  
.breadcrumb li {
  float: left;
  padding: 0;
  margin: 0;
}

// .breadcrumb li+li:before {
//   padding-left: 1rem;
//   padding-right: 1rem;
//   color: black;
//   content: "/";
// }

.breadcrumb li a {
  @apply m-0 outline-none relative block float-left transition duration-300;
  padding: 0.5rem 0 0.5rem 3rem;
  font-weight: 300;
  border-bottom: none !important;
}

.breadcrumb li:not(:last-child) a {
  @apply bg-gray-500 text-white;
}

.breadcrumb li:not(:last-child) a:hover {
  @apply bg-gray-400;
}

.breadcrumb li:not(:last-child) a:after { 
  @apply absolute block w-0 h-0 transition duration-300 border-gray-500 border-l;
  content: " "; 
  border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left-width: 2rem;
  top: 50%;
  margin-top: -50px; 
  left: 100%;
  z-index: 2;
}

.breadcrumb li:not(:last-child) a:hover:after {
  border-left-color: $crumb-hover-color;
}


.breadcrumb li:not(:last-child) a:before { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 2rem solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  margin-left: 1px;
  left: 100%;
  z-index: 1; 
}

.breadcrumb li:first-child a {
  padding-left: 1rem;
}

.breadcrumb li:last-child a {
  @apply bg-transparent;
}