$columbia-blue-color: rgb(28, 76, 143);
$columbia-blue-10-color: rgba($columbia-blue-color, 0.1);
$columbia-blue-30-color: rgba($columbia-blue-color, 0.3);
$columbia-blue-40-color: rgba($columbia-blue-color, 0.4);
$columbia-blue-50-color: rgba($columbia-blue-color, 0.5);
$columbia-blue-60-color: rgba($columbia-blue-color, 0.6);
$columbia-blue-70-color: rgba($columbia-blue-color, 0.7);
$columbia-blue-80-color: rgba($columbia-blue-color, 0.8);
$columbia-blue-90-color: rgba($columbia-blue-color, 0.9);

.bg-blue-columbia {
  background-color: $columbia-blue-90-color;
}

.bg-blue-columbia-30 {
  background-color: $columbia-blue-30-color;
}

.bg-blue-columbia-40 {
  background-color: $columbia-blue-40-color;
}

.bg-blue-columbia-50 {
  background-color: $columbia-blue-50-color;
}

.bg-blue-columbia-60 {
  background-color: $columbia-blue-60-color;
}

.bg-blue-columbia-70 {
  background-color: $columbia-blue-70-color;
}

.bg-blue-columbia-80 {
  background-color: $columbia-blue-80-color;
}

.border-blue-columbia {
  border-color: $columbia-blue-color;
}

.text-blue-columbia-50 {
  color: $columbia-blue-50-color;
}

.text-blue-columbia-80 {
  color: $columbia-blue-80-color;
}

.bg-white-10 {
  background-color: rgba(255, 255, 255, 0.1);
}

.bg-white-20 {
  background-color: rgba(255, 255, 255, 0.2);
}

.bg-white-40 {
  background-color: rgba(255, 255, 255, 0.4);
}

.bg-white-50 {
  background-color: rgba(255, 255, 255, 0.5);
}

.border-white-20 {
  border-color: rgba(255, 255, 255, 0.2);
}

.text-blue-columbia {
  color: $columbia-blue-color;
}

.text-white-50 {
  color :rgba(255, 255, 255, 0.5);
}

.text-white-80 {
  color :rgba(255, 255, 255, 0.8);
}

.text {
  @apply text-gray-800;
}
